/* Esses codigos são para o corpo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #DBE1E0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  /*Código sobre o texto a baixo do rodapé*/
  #sobre-nos {
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }
  /* Esses codigos são para o contato */
  .container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #FCF3A0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #BF9E39;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  } 
  
  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 1000;
    font-family: Times New Roman;
  }
  
  .main-container {
    background-color: #FCF3A0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #BF9E39;
    max-width: 1000;
  }
  
  /* Esses codigos são para o cabeçalho */
  h2 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  .logo
  {
    image-rendering: auto;
    width: auto;
    height: auto;
  }
  
  header {
    background-color: #32498C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: #BF9E39;
    border-bottom-width: 4px;
  }
  
  header .logo {
    width: 200px;
    height: 100px;
  }
  
  header ul {
    list-style-type: none;
    text-align: right;
  }
  
  header ul li {
    display: inline-block;
    margin-right: 60px;
  }
  
  header ul li:last-child {
    margin-right: 0;
  }
  
  header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
  }
  
  nav {
    margin-right: 70px;
  }
  
  /* Esses codigos são para o rodapé */
  footer {
    background-color: #32498C;
    padding: 10px;
    text-align: right;
    font-size: 12px;
    color: #DBE1E0;
    border-top-style: solid ;
    border-top-color: #BF9E39;
    border-top-width: 4px;
  }
  
  footer img{
    width: 10px;
    height: 25px;
  }
  
  
  footer p {
    margin: 5px 0;
  }
  
  .social-icons {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 20px;
  }
  
  .social-icons img {
    width: 30px;
  }
  
  .Forms
  {
    padding: 20px; 
    text-align: center;
    max-width: 1000;
  }
  .TitleProducts
  {
    text-align: center;
    background-color: #FCF3A0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #BF9E39;
    max-width: 1000;
  }
  
  /* Esses codigos são para o carossel */
  .owl-carousel {
    position: relative;
    width: 100%;
  }
  
  .owl-carousel .slide {
    position: relative;
    height: 300px;
    background-color: #eee;
    border-radius: 10px;
  }
  
  .owl-carousel .slide img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
  }
  /*Todas as linhas de códigos abaixo são referentes 
  á página de Serviços*/
  .PanelaPressao {
    float: left;
    margin-right: 10px;
  }
  .img-services {
    width: 400px;
    height: 280px;
    border: 1px solid #000000; 
    border-radius: 3px; 
    margin-left: 5%;
  }
  .TextoPanela 
  {
    float: left;
    margin-left: 2.5cm;
    position: relative;
    top: -230px; 
    margin-left: 45%;
    margin-right: 5%;
    text-align: left;
    clear: both; 
  }
  .Conteudo {
    clear: both; 
    position: relative;
    top: -230px;
  }
  .Cacarola{
    float: right;
    margin-right: 10px;
    position: relative;
    top: -120px;
    margin-right: 5%;
  }
  .TextoCacarola{
    margin-top: 260px;
    margin-left: 5%;
    margin-right: 45%;
    position: relative;
    top: -50px;
  }
  .Frigideira{
    margin-bottom: 100px;
    margin-top: 70px;
  }
  .TextoFrigideira{
    margin-left: 50%;
    margin-right: 5%;
    position: relative;
    top: -340px;
  }
  .Caldeirao{
    float:right;
    margin-right: 5%;
    position: relative;
    top: -240px;
  }
  .TextoCaldeirao{
    Position: relative;
    top: -200px;
    margin-left:5%;
    margin-right: 45%;
  }
  .Assadeira{
    position: relative;
    top: -70px;
  }
  .TextoAssadeira{
    margin-left: 45%;
    position: relative;
    top: -320px;
    margin-left: 50%;
    margin-right: 5%;
}
