body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #DBE1E0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #FCF3A0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #BF9E39;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
  
  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 1000;
    font-family: Times New Roman;
  }
  
  .main-container {
    background-color: #FCF3A0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #BF9E39;
    max-width: 1000;
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }

  .logo
  {
    image-rendering: auto;
    width: auto;
    height: auto;
  }


header {
    background-color: #32498C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid; /* borda inferior */
    border-bottom-color: #BF9E39; /* cor da borda inferior*/
    border-bottom-width: 4px; /* espessura da borda inferior*/
    font-family: Times New Roman;

}

header .logo {
    border-style: dashed;
    border-color: #BF9E39;
    border-bottom-width: 1px;
    width: 200px; /* Defina a largura desejada para a sua logo */
    height: 100px; /* Defina a altura desejada para a sua logo */
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

header ul li {
    display: inline-block;
    margin-right: 120px; /* Aumenta a margem direita entre os itens da lista */
}

header ul li:last-child {
    margin-right: 0; /* Remove a margem direita do último item da lista */
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px; /* Defina o tamanho de fonte desejado */
    letter-spacing: 2px; /* Aumenta o espaçamento entre as palavras */
}

/* Estilos para o rodapé */
footer {
    background-color: #32498C;
    padding: 10px; /* Reduza o valor do padding para tornar o rodapé mais magro */
    text-align: right;
    font-size: 12px; /* Tamanho da fonte menor */
    color: #DBE1E0; /* Cor do texto mais claro */
    border-top-style: solid ; /* borda superior */
    border-top-color: #BF9E39; /* cor da borda superior*/
    border-top-width: 4px; /* espessura da borda superior */
}

footer p {
    margin: 5px 0; /* Adiciona espaçamento superior e inferior para o texto de direitos autorais */
}

.social-icons {
    text-align: center; /* Centraliza os ícones */
    margin-top: 2px; /* Aumente ou diminua o valor para posicionar os ícones mais para cima ou para baixo */
    margin-bottom: 10px; /* Aumenta o espaçamento inferior para posicionar os ícones */
}

.social-icons a {
    display: inline-block;
    margin: 0 20px; /* Espaçamento horizontal entre os ícones */
}

.social-icons img {
    width: 30px; /* Defina a largura desejada para os ícones */
}

.Forms
{
    padding: 20px; 
    text-align: center;
    max-width: 1000;
}
.TitleProducts
{
    text-align: center;
}

.owl-carousel {
    position: relative;
    width: 100%;
  }

  .owl-carousel .slide {
    position: relative;
    height: 300px;
    background-color: #eee;
    border-radius: 10px;
  }

  .owl-carousel .slide img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
  }